In [11]:
import pandas as pd
import numpy as np
import calculations
import importlib

In [12]:
pd.options.display.max_columns = None
pd.options.display.float_format = "{:,.2f}".format

In [13]:
loan = pd.read_csv("./loan_book_df.csv",index_col=0)

In [14]:
loan

,23-Sep,23-Oct,23-Nov,23-Dec,24-Jan,24-Feb,24-Mar,24-Apr,24-May,24-Jun,24-Jul,24-Aug,24-Sep,24-Oct,24-Nov,24-Dec,25-Jan,25-Feb,25-Mar,25-Apr,25-May,25-Jun,25-Jul,25-Aug,25-Sep,25-Oct,25-Nov,25-Dec,26-Jan,26-Feb,26-Mar,26-Apr,26-May,26-Jun,26-Jul,26-Aug,26-Sep,26-Oct,26-Nov,26-Dec,27-Jan,27-Feb,27-Mar,27-Apr,27-May,27-Jun,27-Jul,27-Aug,27-Sep,27-Oct,27-Nov,27-Dec,28-Jan,28-Feb,28-Mar,28-Apr,28-May,28-Jun,28-Jul,28-Aug
Opening Balance,"52,421.62","651,340.23","1,232,125.87","1,896,053.61","2,475,310.66","3,251,907.14","3,943,507.57","4,747,355.00","5,662,763.92","6,620,030.43","7,826,283.29","8,808,406.01","9,668,026.52","10,407,147.28","11,036,388.05","11,594,318.65","12,082,545.54","12,504,792.08","12,857,852.45","13,131,357.87","13,400,121.81","13,669,185.66","13,938,247.17","14,208,247.17","14,478,247.17","14,748,247.17","15,018,247.17","15,288,247.17","15,558,247.17","15,828,247.17","16,098,247.17","16,368,247.17","16,638,247.17","16,908,247.17","17,178,247.17","17,448,247.17","17,718,247.17","17,988,247.17","18,258,247.17","18,528,247.17","18,798,247.17","19,068,247.17","19,338,247.17","19,608,247.17","19,878,247.17","20,148,247.17","20,418,247.17","20,688,247.17","20,958,247.17","21,228,247.17","21,498,247.17","21,768,247.17","22,038,247.17","22,308,247.17","22,578,247.17","22,848,247.17","23,118,247.17","23,388,247.17","23,658,247.17","23,928,247.17"
New Disbursements,"609,011.05","651,480.25","805,080.25","808,900.00","1,097,573.00","1,141,909.25","1,396,650.00","1,588,680.00","1,735,000.00","2,095,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00","2,035,000.00"
Repayments,"-11,375.86","-118,634.40","-236,002.32","-375,427.20","-505,667.68","-687,338.52","-876,023.89","-1,009,531.79","-1,179,441.17","-1,350,484.41","-1,598,698.22","-1,790,355.38","-1,968,088.96","-2,123,707.26","-2,230,235.79","-2,328,189.57","-2,415,286.54","-2,499,577.53","-2,587,691.27","-2,593,846.02","-2,594,047.49","-2,594,047.49","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65","-2,593,106.65"
Interest Income,"1,283.41","47,939.79","94,849.82","145,784.24","184,691.17","237,029.70","283,221.31","336,260.71","401,707.68","461,737.26","545,820.95","614,975.88","672,209.73","717,948.02","753,166.38","781,416.46","802,533.08","817,637.90","826,196.69","827,609.96","828,111.34","828,109.00","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65","828,106.65"
Closing Balance,"651,340.23","1,232,125.87","1,896,053.61","2,475,310.66","3,251,907.14","3,943,507.57","4,747,355.00","5,662,763.92","6,620,030.43","7,826,283.29","8,808,406.01","9,668,026.52","10,407,147.28","11,036,388.05","11,594,318.65","12,082,545.54","12,504,792.08","12,857,852.45","13,131,357.87","13,400,121.81","13,669,185.66","13,938,247.17","14,208,247.17","14,478,247.17","14,748,247.17","15,018,247.17","15,288,247.17","15,558,247.17","15,828,247.17","16,098,247.17","16,368,247.17","16,638,247.17","16,908,247.17","17,178,247.17","17,448,247.17","17,718,247.17","17,988,247.17","18,258,247.17","18,528,247.17","18,798,247.17","19,068,247.17","19,338,247.17","19,608,247.17","19,878,247.17","20,148,247.17","20,418,247.17","20,688,247.17","20,958,247.17","21,228,247.17","21,498,247.17","21,768,247.17","22,038,247.17","22,308,247.17","22,578,247.17","22,848,247.17","23,118,247.17","23,388,247.17","23,658,247.17","23,928,247.17","24,198,247.17"

In [15]:
combined_loan = calculations.loan_per_year_calculations(loan)
combined_loan

,2023,2024,2025,2026,2027,2028
Opening Balance,"52,421.62","2,475,310.66","12,082,545.54","15,558,247.17","18,798,247.17","22,038,247.17"
New Disbursements,"2,874,471.55","21,264,812.25","24,420,000.00","24,420,000.00","24,420,000.00","16,280,000.00"
Repayments,"-741,439.78","-17,647,762.63","-30,843,136.24","-31,117,279.81","-31,117,279.81","-20,744,853.21"
Interest Income,"289,857.27","5,990,185.26","9,898,837.87","9,937,279.81","9,937,279.81","6,624,853.21"
Closing Balance,"2,475,310.66","12,082,545.54","15,558,247.17","18,798,247.17","22,038,247.17","24,198,247.17"

In [59]:
combined_loan.to_csv('combined_data_loan.csv')